/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*products商品名称*/
body{
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	background:#fff;
}

/*logo下划线*/
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

/*mabe*/
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

/*products加购物车标签*/
ul{
	margin:0;
	padding:0;
}


/* 顶部 */
.top-header{
	padding:1em 0;
	background:#50a3a2;
}
.header-left{
	float:left;
}
.header-left p{
	color:#fff;
	font-size: 15px;
	font-weight: 400;
}


/* logo */
	/* logo宽度 */
	.bottom-header{
		padding:3em 0;
	}
	/* logo与菜单平行 */
	.logo{
		float:left;
	}
	/* logo字体 */
	.logo a h1{
		color:#000000;
		font-size: 4em;
		font-weight: 700;
		font-family: 'Dancing Script', cursive;
		text-decoration:none;
		text-transform: uppercase;
	}

/* 菜单 */
/**/
.sky-form .radio input + i:after {
	background-color: #2da5da;	
}
.sky-form .checkbox input + i:after {
	color: #2da5da;
}
.sky-form .rating input:checked ~ label {
	color: #2da5da;	
	 background: url(../images/star.png) 0 -20px;
	display: -webkit-box;
}
.brand {
	padding: 1em 0 5em 0;
}
.select{
	float: left;
	background: #484c4b;
	padding: 3.36em 0;
	width: 15%;
}
.preview{
	float: left;
	width: 27%;
	margin-right: 2%;
	position:relative;
}
.preview img {
	width: 100%;
}

.preview:hover i.bag{
	width: 35px;
	height: 35px;
	background: url("../images/img-sprite.png") no-repeat -6px -25px;
	display: inline-block;
	cursor: pointer;
	position: absolute;
	top: 39%;
	left: 42%;
}
.span_66{
	margin-right:0;
}
.select h2 {
	font-weight: 700;
	width: 64%;
	margin: 0 auto;
	font-size: 2.6em;
	text-align: center;
	line-height: 1.5em;
	color: #fff;
	font-family: 'Dancing Script', cursive;
	text-transform: uppercase;
}
.header_bottom_right{
	float:right;
}
/* 菜单 */
.header_bottom_right{
	float:right;
}
.h_menu4{
	float:left;
}
.toggleMenu {
    display: none;
	background:#ff530d;
	width: 100%;
	color: #FFF;
	font-size: 1.5em;
}

.nav {
    list-style: none;
     margin-top: 0.5em;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
	width: 13em;
	border-bottom:5px solid #ffd400;
	z-index:888;
}
.nav li a {
	display: block;
	padding: 10px 15px;
	color: #000000;
	font-size: 1.1em;
	text-transform: uppercase;
	font-weight: 400;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-decoration: none;
}
.nav li{
	
}
.nav li a:hover {
	background:#ffd400;
	color:#fff;
}

.nav li {
    position: relative;
}
.nav li.active{
	
}
.nav > li > a.parent{
	background: url(../images/arrow.png) no-repeat 55px 16px;
	padding: 10px 30px 10px 10px;	
}
.nav > li > a.root{
	background: url(../images/arrow.png) no-repeat 91px 16px;
	padding: 10px 30px 10px 10px;	
}
.nav > li > a.root:hover{
	background: url(../images/arrow.png) no-repeat 15px 16px;
	padding: 10px 30px 10px 10px;	
}
.nav > li > a.parent:hover{
	background: url(../images/arrow_h.png) no-repeat 15px 16px #ffd400;
	padding: 10px 10px 10px 30px;
}
.nav > li {
    float:left;
    
}
.nav > li > a:hover{
	background:#ffd400;
}
.nav > li.hover > ul {
    left:-1px;
    top:40px;
}
.nav li li.hover ul {
    left: 100%;
   -webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	-ms-transition: background .2s linear;
	-o-transition:  background .2s linear;
	transition: background .2s linear;
}
.nav > li > li > a{
	font-size: 0.85em;
	padding: 10px 20px;
	display: block;
	color: #555;
	background: #fff;
	position: relative;
	z-index: 9999;
	font-weight: normal;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	width: 100%;
	text-decoration: none;
	margin: 0;
	text-transform: lowercase;
}
.nav li li {
	border-top:none;
}
.nav li li:hover{
	border-top:none;
}
.nav li li a{
	text-transform: capitalize;
	font-size:0.95em;
	border-top: 1px solid #e8ebf1;
	
	border-left: 1px solid #e8ebf1;
	border-right: 1px solid #e8ebf1;
}
.nav li li a:hover{
	color:#000;
}
.nav > li >  ul {
    position: absolute;
    left: -9999px;
    padding: 0;
    z-index: 9999;
    background:#fff;
}
/***** 菜单 *****/
@media screen and (max-width: 800px) {
	.h_logo4{
		text-align:center;
		float: none;
		margin: 4% 0;
	}
	.h_menu4{
		float: none;
	}
	.toggleMenu {
		padding: 5px 23px;
		width: 100%;
		display:block;
	}
	 a.toggleMenu{
		padding: 5px 23px;
		color: #fff;	
		font-size: 19px;
		font-weight: 400;
		text-decoration:none;
	}
	.nav {
		margin-top: 0;
	}
	.nav li a {
		padding: 10px 15px;
	}
	.nav {
		background:#fff;
	}
    .active {
        display: block;
    }
    .nav > li {
        float: none;
    }
    .nav > li > .parent {
        background-position: 95% 50% !important;
    }
   .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
	.header_bottom_right {
		float: right;
		width: 77%;
		text-align: center;
	}
	.h_menu4 {
		float: right;
		width: 50%;
	}
}
@media screen and (max-width: 640px) {
	.toggleMenu {
		width:100%;
	}
}
@media screen and (max-width: 480px) {
	.toggleMenu {
		width:100%;
	}
}
@media screen and (max-width: 320px) {
	.toggleMenu {
		width:100%;
	}
}
/*--位置栏--*/
	/*--位置栏右--*/
	ul.breadcrumbs{
		padding:0;
		list-style:none;
		float:left;
	}
	ul.previous{
		padding:0;
		list-style:none;
		float:right;
	}
	ul.previous li a{
		color:#999;
		font-size:1.1em;
	}
	/*--位置栏左--*/
	ul.breadcrumbs li{
		display:inline-block;
		font-size:1.1em;
		color:#000;
	}
	/*--位置栏上下横线--*/
	.dreamcrub{
		margin: 2em 0 3em 0;
		border-top: 1px solid #C9C9C9;
		padding: 0.6em 0;
		border-bottom: 1px solid #C9C9C9;
	}




/* products物品栏 */
	/* 单个物品栏大小 */
	.span_1_of_single1{
		width: 30.7%;
		border: 1px solid #DDD;
	}
	/* 加购物车标签 */
	.list2{
		float: left;
		background: #000000;
		width: 53.5%;
		padding: 3.2% 0;
		text-align: center;
	}
	ul.list2 li img {
		vertical-align: middle;
		float: left;
		margin: 3px 0px 0 12%;
	}
	/* 单个物品栏位置 */
	/* 起始放置位置 */
	.col_1_of_single1:first-child {
		margin-left: 0;
	}
	/* 每个物品栏之间的位置 */
	.col_1_of_single1{
		display: block;
		float: left;
		margin: 1% 0 3% 3.6%;
	}
	/* 加购物车标签 */
	/* 字体 */
	.icon1 li a{
		color: #FFF;
		font-size: 0.85em;
		text-transform: uppercase;
		margin-top: 6px;
	}
	/* 图片大小 */
	.top_box{
		padding:6%;
	}
	.css3 img {
	width: 100%;
	}
	/* 注释字体 */
	p.m_2{
		color:#999;
		font-size:0.8125em;
	}

/*--详情页--*/
/*--右边布局--*/
.span_3_of_2 {
	width:60.3333%;
}
.images_3_of_2 {
	width:35.2%;
	float: left;
	margin-right: 2.6%;
}
	/*--右边图片布局--*/
	.desc1 {
		display: block;
		float: right;
	}
/*--描述标签--*/
.single-bottom1 h6, .single-bottom2 h6 {
	background: #F3F3F3;
	padding: 10px;
	color: #333;
	font-size: 1.2em;
}
/*--描述文字--*/
p.prod-desc {
	color: #888;
	padding-top: 2%;
	font-size: 0.9em;
	line-height: 1.6em;
}
/*--颜色块--*/
.w_nav2  li{
	display: inline-block;
	margin: 0 0.2em 0.2em 0;
}
.w_nav2 li a{
	display: block;
	padding: 20px;
}
.w_nav2 li a.color1{
	background:	#0AA5E2;
}
.w_nav2 li a.color2{
	background:	#E52D6D;
}
.w_nav2 li a.color3{
	background:	#303030;
}
.w_nav2 li a.color4{
	background:	#B71E32;
}
.w_nav2 li a.color5{
	background:	#353F49;
}
/*--商品名称--*/
.desc1 h3{
	color: #333333;
	font-size: 1.4em;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 1em;
}
/*--商品价格--*/
.desc1 p{
	margin-top: 2%;
	font-size: 1.8em;
	color: #50a3a2;
	line-height: 1.8em;
	-webkit-text-stroke: 1.5px;
	text-shadow: 0 1px 0 #ffffff;
	letter-spacing: 1px;
}
/*--价格右边超链接--*/
.desc1 p a{
	margin-left:5px;
	color:#555555;
	text-transform:uppercase;
	font-size: 13px;
	-webkit-text-stroke: 0px;
	letter-spacing: 0px;
}
/*--右边图片表述字体--*/
.det_nav h4{
	line-height:1.8em;
	font-size: 1em;
	color: #555555;
	text-transform:uppercase;
	margin-bottom: 4%;
}
/*--右边图片大小--*/
.det_nav ul li{
	display: inline-block;
	width: 23.33333%;
	margin-left: 1%;
}


.det_nav ul li:first-child{
	margin-left: 0;
}
.det_nav ul li a{
	display:block;
}
.det_nav ul li a img{
	border: 1px solid #DADADA;
}
.btn_form{
	margin: 2% 0 2%;
}
/*--加购物车标签--*/
.btn_form a{
	cursor:pointer;
	border:none;
	outline:none;
	display: inline-block;
	font-size: 1em;
	padding: 10px 34px;
	background: #ff530d;
	color:#fff;
	text-transform:uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/*修改密码form*/
.changepwd{
	position: absolute;width:400px;height:200px;left:50%;top:65%; 
margin-left:-200px;margin-top:-100px;
}